@CHARSET "UTF-8";

* {
    margin: 0px;
    padding: 0px;

}

a {
    /*text-decoration: none;*/
    /*color: #333;*/
    /*pointer-events: none;*/
    cursor: pointer;
}


#top-menu {
    height: 40px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px;
    background-color: #f2f2f2;
}


#top-menu a {
    text-decoration: none;
    color: #333;
}

/*菜单里面的主要内容*/
#in-menu {
    position: relative;
    height: 40px;
    /*width: 400px;*/
    right: 17%;
}


/*菜单中的a标签*/
#in-menu a {
    color: #888888; /**/
    font-size: 14px;
    line-height: 40px;
    cursor: pointer;
}

#in-menu td {
    padding: 0 10px;
}

#in-menu span {
    color: #888888; /**/
    font-size: 14px;
    line-height: 40px;
}

#in-menu a:hover {
    color: red;
}


#not-in-menu {
    position: relative;
    height: 40px;
    width: 200px;
    right: 17%;
}

/*菜单中的a标签*/
#not-in-menu a {
    color: #888888; /**/
    font-size: 14px;
    line-height: 40px;
}

#not-in-menu span {
    color: #888888; /**/
    font-size: 14px;
    line-height: 40px;
}

#not-in-menu a:hover {
    color: red;
}


/*搜索框*/
#search-div {
    width: 700px;
    height: 40px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
}


#search-box {
    position: relative;
    border: solid 2px red;
    height: 40px;
    width: 500px;
    text-indent: 4px;
}

#search-btn {
    position: relative;
    right: 0px;
    top: 3px;
    height: 40px;
    width: 100px;
    font-style: initial;
    font-size: 18px;
    border: 2px solid red;
    color: white;
    background-color: red;
}

/*图片*/
#top-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

#top-img img {
    width: 60%;
}

/*所有商品的大盒子*/
#items-div {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}


/*每一个放商品的盒子*/
.item-div {
    transition: 0.4s;
    height: 337px;
    width: 210px;
    border: #999999 solid 1px;
    padding: 0.2em 0.5em;
    margin: 0.5em;
    text-align: center;
}


.item-div:hover {
    border: #ff0059 solid 1px;
}

/*商品图片*/
.itemImg {
    width: 210px;
    height: 210px;
    /*鼠标变小手*/
    cursor: pointer;
}

/*商品价格*/
.price {
    color: red;
    font-size: 24px;
}

.model {
    color: red;
}

.merchant {
    color: #999999;
    text-decoration: underline;
    text-align: center;
    font-size: 18px;

}

.sales {
    position: relative;
    top: -7px;
    /*border: 1px #999 solid;*/
    height: 33px;
    width: 210px;

}

.sales-fix {
    color: #999;
}

.sales-count {
    color: red;
    line-height: 33px;
}


/*分页的大盒子*/
.page-nav {
    width: 750px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

/*分页中的表格*/
.page-nav-table {


}

.page-nav-table td {
    height: 40px;
    border: #e5e5e5 1px solid;

}


/*分页表格中的里面的标签*/
.page-nav-a {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    height: 40px;
    border: 0px;
    top: 25%;
    text-align: center;
    text-decoration: none;
    color: rgba(51, 51, 51, 0.52);
}

.page-nav-table td :hover {
    color: #331015;
}


.pageInfo {
    color: #888888;
    font-size: 14px;
}


/*设置a标签不可用*/
/*这里需要写在a标签父亲里面*/
.not-enable {
    pointer-events: none;
}


.bottom {
    width: auto;
    height: 100px;
    background-color: #000000d4;
}

